<p>Dear <%= @user.first_name %>!</p>
<p>Course <%= link_to @course.name.capitalize, course_url(@course) %> has been completed!</p>
<p>Your attendance rate: <%= @user_attendance_rate %>% while course attendance requirements is <%= @course.attendance_rate %>% </p>
<p>
  It means you
  <% if @course.course_users.find_by(user_id: @user.id,  completed: true) %>
    successfully completed this course.
  <% else %>
    successfully failed this course.
  <% end %>
</p>