<div class="row mb-4 ml-0">
  <div class="col">
  <small>Active users: </small>
    <% current_users.each do |user| %>
      <small>
        <% if user.first_name.present? %>
          <%= user.first_name %>
        <% else %>
          <%= user.email %>
        <% end %>
      </small>
    <% end %>
  </div>
</div>