<% if notice != nil  %>
  <p class="alert alert-secondary text-sm-center" role="alert"><%= notice %></p>
<% elsif alert != nil %>
  <p class="alert alert-secondary text-sm-center" role="alert"><%= alert %></p>
<% end %>
