@import './bootstrap_custom.scss';
@import "navbar";
@import "courses";
#map {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
#map2 {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
