@import './bootstrap_custom.scss';
@import '@fortawesome/fontawesome-free';
@import "categories";
@import "course_index";
@import "courses";
@import "footer";
@import "form";
@import "lesson";
@import "navbar";
@import "pages";
@import "tasks";
@import "user";
@import "welcome";


//@import 'simple_calendar';

*{
    font-family: inherit;
    font-style: inherit;
}
body{
    width: 100%;
    min-width: 375px;
    margin: 0;
    padding: 0;
}

#map2 {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
