/*lesson__show*/
#lesson__show{
  background: linear-gradient(to right, #e6e7ff, #d4d5eb, #e5dfff);
}
#lesson__header{
  padding: 50px;
}

#theme{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #2E2F30;
}
#description{
  background: #f4f1d5;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #c1c1c1;
}
#lesson__pictures{
  padding: 50px;
  text-align: center;
}
#btn__lesson{
  text-align: center;
}