.icon__author{
  width: 45px;
  height: 45px;
  border-radius: 25px; /* Радиус скругления */
  border: 1px solid #555555; /* Параметры рамки */
  box-shadow: 0 0 5px #ccc; /* Параметры тени */
}
#nav_container{
  background: black;
  padding: 1%;
}

.navbar{
  font-size: 20px;
}
#link_root:hover{text-decoration: none}
#link_root{
  font-family: "Playfair Display", serif;
  font-size: 35px;
  text-transform: uppercase;
}


.current_users{
  color: #F7F7F7;
}