<div style="color: black">
  <div id='calendar'></div>
</div>
  <script>
          var calendarEl = document.getElementById('calendar');

          var calendar = new FullCalendar.Calendar(calendarEl, {
              plugins: [ dayGridPlugin, interactionPlugin, timeGridPlugin, listPlugin, bootstrapPlugin, timelinePlugin ],
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth, dayGridDay' // dayGridMonth, dayGridWeek, dayGridDay, dayGrid, timeGridWeek, timeGridDay, timeGrid
              },
              defaultView: 'dayGridMonth', // dayGridMonth, dayGridWeek, dayGridDay, dayGrid, timeGridWeek, timeGridDay, timeGrid

              navLinks: true, // can click day/week names to navigate views
              editable: true,
              eventLimit: true, // allow "more" link when too many events
              eventClick: function(info) {
                  info.jsEvent.preventDefault(); // don't let the browser navigate

                  if (info.event.url) {
                      window.open(info.event.url);
                  }
                  if (event.url) {
                      window.open(event.url, "_blank");
                      return false;
                  }
              },
              events: [
                 <% @lessons.each do |lesson| %>
                  {
                      title: "<%= lesson.theme.to_s %>",
                      start: "<%= lesson.time.strftime("%Y-%m-%d %R") %>",
                      allDay: false,
                      extendedProps: {
                          status: "<%= lesson_expired?(lesson) ? 'Complete' : 'Soon' %>"
                      }
                      // backgroundColor: 'blue',
                      // borderColor: 'green',
                      // url: 'http://google.com/',
                  },

                 <% end %>
                  {

                  }
              ],
              eventRender: function(info) {
                  if (info.event.extendedProps.status === 'Complete') {

                      // Change background color of row
                      info.el.style.backgroundColor = 'red';

                      // Change color of dot marker
                      var dotEl = info.el.getElementsByClassName('fc-event-dot')[0];
                      if (dotEl) {
                          dotEl.style.backgroundColor = 'white';
                      }
                  }
              }
          });
          calendar.render();
  </script>

<!--{-->
<!--title: 'All Day Event',-->
<!--url: 'http://google.com/',-->
<!--start: '2020-03-31',-->
<!--},-->
<!--{-->
<!--title: 'Long Event',-->
<!--start: '2018-01-07',-->
<!--end: '2018-01-10'-->
<!--},-->
<!--{-->
<!--id: 999,-->
<!--title: 'Repeating Event',-->
<!--start: '2018-01-09T16:00:00'-->
<!--},-->
<!--{-->
<!--id: 999,-->
<!--title: 'Repeating Event',-->
<!--start: '2018-01-16T16:00:00'-->
<!--},-->
<!--{-->
<!--title: 'Conference',-->
<!--start: '2018-01-11',-->
<!--end: '2018-01-13'-->
<!--},-->
<!--{-->
<!--title: 'Meeting',-->
<!--start: '2018-01-12T10:30:00',-->
<!--end: '2018-01-12T12:30:00'-->
<!--},-->
<!--{-->
<!--title: 'Lunch',-->
<!--start: '2018-01-12T12:00:00'-->
<!--},-->
<!--{-->
<!--title: 'Meeting',-->
<!--start: '2018-01-12T14:30:00'-->
<!--},-->
<!--{-->
<!--title: 'Happy Hour',-->
<!--start: '2018-01-12T17:30:00'-->
<!--},-->
<!--{-->
<!--title: 'Dinner',-->
<!--start: '2018-01-12T20:00:00'-->
<!--},-->
<!--{-->
<!--title: 'Birthday Party',-->
<!--start: '2018-01-13T07:00:00'-->
<!--},-->
<!--{-->
<!--title: 'Click for Google',-->
<!--url: 'http://google.com/',-->
<!--start: '2018-01-28'-->
<!--}-->