<div class="container">
  <h1>All courses</h1>
  <% @courses.each do |course| %>
    <h3><%= link_to course.name, course_path(course) %></h3>
    <%= course.description %>
    <%= link_to 'join', join_path(id: course) %>
    <br>
    <% course.users.each do |user| %>
      <%= user.email %>
    <% end %>
  <% end %>
  <hr>
</div>
