/*container__course*/
#container__course{
  margin-left: auto;
  margin-right: auto;
}
.course_description{
  display: block;
  height: 320px;
  background: linear-gradient(to bottom, #000, #060623, #0c0c44, #0f0f57);
}
/*logo*/
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo_text{
  color: #F7F7F7;
}
.edit_logo{
  background-color: rgba(30, 30, 30, 0.5); /* Цвет фона и значение прозрачности */
}
#form__nologo{
  padding: 50px;
  display: block;
  width: 100%;
  height: 400px;
}

.img_logo{
  margin-top: 70px;
  height:200px;
  width: 200px;
  border-radius: 50%; /* Радиус скругления */
  border: 1px solid #e6eacd; /* Параметры рамки */
  box-shadow: 0 0 5px #ccc; /* Параметры тени */
}
.course_name{
  color: #F7F7F7;
  margin-top: 20px;
  text-align: center;
}
.description{
  text-align: justify;
  display: block;
  height: 200px;
  border-radius: 5%; /* Радиус скругления */
  padding: 5%;
  background-color: rgba(21, 21, 122, 0.8); /* Цвет фона и значение прозрачности */
  color: #e2e2e2;
}
.my-img {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
}
/*course__lesson*/
#course__lesson{
  display: block;
  background: linear-gradient(to bottom, #0f0f57, #0c0c44, #060623);
}
h3{
  color: #f3f3f3;
  text-transform: uppercase;
}
h4{
  color: #c0c0c0;
  text-transform: uppercase;
}
#info{
  color: #9e9e9e;
  padding-top: 10%;
}

.btn__panel{
  width: 130px;
}
#btn__status{
  margin-top: 5%;
  text-align: center
}
#all_lessons_title{
  background: #08082f;
  padding: 5px;
  margin-bottom: 0;
}
#all__lessons{
  border-left: 1px solid #e1e1e1;
}
#card_lesson:hover{
  width: 100%;
  background: #08082f;
}
.lesson:link { color: #e1e1e1; text-decoration: none;}
.lesson:visited { color: #c8c8c8; text-decoration: none;}
.lesson:active {  color: #e1e1e1; text-decoration: none;}
.lesson:hover { color: #ffffff; text-decoration: none;}
#users_mail{
  color: #cdcdcd;
}
h5{
  text-transform: uppercase;
}

// calendar
#calendar {
  margin-left: auto;
  margin-right: auto;
}
.has-events {
  background-color: #38688c;
}
.today {background-color: green;}

.carousel-inner, #map {
  border: 1px solid #424196; /* Параметры рамки */
  box-shadow: 0 0 10px #4847a4; /* Параметры тени */
}

//
//
//
#footer_course{
  background: linear-gradient(to bottom, #060623, #000);
  padding: 200px 50px;
}
.carousel__image{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 450px;
}





#map{
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: 450px;
  margin-bottom: 50px;
}


/*FORM*/
#shared_pict_in_form{
  width: 350px;
  height: 250px;
}
.calendar {
  background-color: white;
}
